//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.diplay-inline{
  display: inline;
}

// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}


// Background-color
// -------------------------

.bg-primary{   background-color: @primary; }
.bg-secundary{   background-color: @secundary; }
.bg-tertiary{   background-color: @tertiary; }
.bg-darker{   background-color: @darker; }
.bg-dark{   background-color: @dark; }
.bg-quaternary{   background-color: @quaternary; }


// Padding
// -------------------------

.padding-medium{ padding-right: 50%; }
.padding-left{ padding-left: 50%; }
.padding-extralarge{ padding: 0 @padding-extralarge; }
.padding-small{ padding: 0 @padding-small; }
.padding-large{ padding: @padding-large; }
.padding-primary{ padding: @padding-primary 0; }

// Margin
// -------------------------

.margin-bottom{ margin-bottom: @margin-smaller; }
.margin-small{ margin-bottom: @margin-small; }
.margin-large{ margin-bottom: @margin-large; }
.margin-left{ margin-left: @margin-small; }

// Width
// -------------------------

.width-100{ width: 100%; }


.bg-prueba{   //en lugar de la imagen, borrar al tener imágen
  background-color: #E6E6E6;
  width: 100%;
  height: 300px;
  padding-top: 80px;
}
.circulo {
     width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: yellow;
     display: inline;
     margin-top: 15px;
}
.icono {
     width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: gray;
}
.bg-map{
    background-color: #E6E6E6;
    width: 100%;
    height: 500px;
}
.folder {
    width: 250px;
    height: 0px;
    border-right: 60px solid transparent;
    border-left: 0px solid transparent;
    padding: 5px 10px;
}
.folder-reverse {
    border-right: 0px solid transparent;
    border-left: 60px solid transparent;
    float: right;
}
.folder-darker{
     border-bottom: 50px solid #848484;
}
.folder-dark{
     border-bottom: 50px solid #BDBDBD;
}
.folder-quaternary{
     border-bottom: 50px solid #A4A4A4;
}
